In [11]:
#libraries

import pandas as pd
from bs4 import BeautifulSoup
import requests
import numpy as np
from geopy.geocoders import Nominatim # convert an address into latitude and longitude values
from pandas.io.json import json_normalize  # tranform JSON file into a pandas dataframe

import folium # map rendering library

# import k-means from clustering stage
from sklearn.cluster import KMeans

# Matplotlib and associated plotting modules
import matplotlib.cm as cm
import matplotlib.colors as colors

In [24]:

#Scraping: Get data from Wiki url
url = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M").text
soup = BeautifulSoup(url, 'lxml')

#find html elements/objects
table = soup.find("table")
table_rows = table.tbody.find_all("tr")

list_appended = []
for tr in table_rows:
    td = tr.find_all("td")
    row = [tr.text for tr in td]
    
    # Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.
    if row != [] and row[1] != "Not assigned":
        # If a cell has a borough but a "Not assigned" neighborhood, then the neighborhood will be the same as the borough.
        if "Not assigned" in row[2]: 
            row[2] = row[1]
        list_appended.append(row)

# Dataframe with 3 columns
df = pd.DataFrame(list_appended, columns = ["PostalCode", "Borough", "Neighborhood"])
df.head()

  PostalCode           Borough        Neighborhood
0        M3A        North York         Parkwoods\n
1        M4A        North York  Victoria Village\n
2        M5A  Downtown Toronto      Harbourfront\n
3        M5A  Downtown Toronto       Regent Park\n
4        M6A        North York  Lawrence Heights\n

In [26]:
#using Xpaths
#def scrape_table_lxml(XPATH,cols):
#    page = requests.get(url)
#    doc = lh.fromstring(page.content)
 #   table_content = doc.xpath(XPATH)
 #   for table in table_content:
 #       headers = [th.text_content().strip() for th in table.xpath('//th')]
 #       headers = headers[0:3]
 ##                  for tr in table.xpath('//tbody/tr')]
  #      data    = [row for row in data if len(row) == cols]
  #      raw_df = pd.DataFrame(data,columns=headers)
  #      return raw_df

In [27]:

#Data Cleanup  
df["Neighborhood"] = df["Neighborhood"].str.replace("\n","")
df.head()

  PostalCode           Borough      Neighborhood
0        M3A        North York         Parkwoods
1        M4A        North York  Victoria Village
2        M5A  Downtown Toronto      Harbourfront
3        M5A  Downtown Toronto       Regent Park
4        M6A        North York  Lawrence Heights

In [28]:
# There are more than one neighborhood in same postal code area 
# --Then those neighborhood will be combined in a row, separate with a comma

#Re-grouping.
df = df.groupby(["PostalCode", "Borough"])["Neighborhood"].apply(", ".join).reset_index()
df.head()

  PostalCode      Borough                            Neighborhood
0        M1B  Scarborough                          Rouge, Malvern
1        M1C  Scarborough  Highland Creek, Rouge Hill, Port Union
2        M1E  Scarborough       Guildwood, Morningside, West Hill
3        M1G  Scarborough                                  Woburn
4        M1H  Scarborough                               Cedarbrae

In [29]:
#Get latitude and longitude 
df_geo_coor = pd.read_csv("http://cocl.us/Geospatial_data")
df_geo_coor.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [22]:
#Set values of each latitude and longitude for each neighborhood
df_toronto = pd.merge(df, df_geo_coor, how='left', left_on = 'PostalCode', right_on = 'Postal Code')
# remove the "Postal Code" column
df_toronto.drop("Postal Code", axis=1, inplace=True)
df_toronto.head()

,PostalCode,Borough,Neighborhood,Latitude,Longitude
0,M1B,Scarborough,"Rouge, Malvern",43.806686,-79.194353
1,M1C,Scarborough,"Highland Creek, Rouge Hill, Port Union",43.784535,-79.160497
2,M1E,Scarborough,"Guildwood, Morningside, West Hill",43.763573,-79.188711
3,M1G,Scarborough,Woburn,43.770992,-79.216917
4,M1H,Scarborough,Cedarbrae,43.773136,-79.239476